.envrc
.python-version
venv_aircheq/
__pycache__/
.cache/
.pytest_cache/
.venv*/
.bak/
*.egg-info/
.direnv/

docker/.env
docker/config/db/*
docker/config/logs/*
docker/config/recorded/*
docker/config/config.toml
!docker/config/db/.gitkeep
!docker/config/logs/.gitkeep
!docker/config/recorded/.gitkeep
!docker/config/config.sample.toml
